<%- model_class = Document -%>
<div class="page-header">
  <h1> Compare Documents </h1>
</div>

<%= form_tag('/documents/compare_2', method: 'post', remote: true) do %>
  <div class='row-fluid'>
    <div class='span6'>
      <%= text_area_tag :doc_a, "Copy your first document here",
        size: '50x12', style: 'width: 100%'  %>
    </div>
    <div class='span6'>
      <%= text_area_tag :doc_b, "Copy your second document here",
        size: '50x12', style: "width: 100%"%>
    </div>
  </div>

  <div class='row-fluid'>
  <div class="form-actions span12 text-center">
      <%= submit_tag 'Compare' %>
  </div>
  </div>
<% end %>

<div class='row-fluid' id='comparison-content'>
  <div class='span12 text-center' id='similarity'>

  </div>
  <div class='span12'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th> </th>
          <th> Document 1 </th>
          <th> Document 2 </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Total Words </td>
          <td id='doc1-num-words'> </td>
          <td id='doc2-num-words'> </td>
        </tr>
        <tr>
          <td> Unique Words </td>
          <td id='doc1-uniq-words'> </td>
          <td id='doc2-uniq-words'> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
