<h1>Novel Comparison</h1>

<table class='table table-striped table-hover table-bordered'>
  <thead>
    <tr>
      <th> </th>
      <th>Jane Austen: Emma</th>
      <th>Jane Austen: Pride & Prejudice</th>
      <th>Charles Dickens: Oliver Twist</th>
      <th>Charles Dickens: A Tale of Two Cities</th>
      <th>Homer: The Odyssey</th>
      <th>Mark Twain: Adventures of Huckleberry Finn</th>
      <th>Mark Twain: A Connecticut Yankee in King Arthur's Court</th>
      <th>Shakespeare: Hamlet</th>
      <th>Shakespeare: Macbeth</th>
      <th>Virgil: The Aeneid</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Emma</td>
      <td>100.0</td>
      <td>88.08</td>
      <td>70.6</td>
      <td>74.05</td>
      <td>72.73</td>
      <td>68.92</td>
      <td>67.88</td>
      <td>67.19</td>
      <td>73.82</td>
      <td>55.44</td>
    </tr>
    <tr>
      <td>Pride & Prejudice</td>
      <td>88.08</td>
      <td>100.0</td>
      <td>73.05</td>
      <td>76.91</td>
      <td>75.37</td>
      <td>69.38</td>
      <td>69.13</td>
      <td>65.67</td>
      <td>74.14</td>
      <td>59.12</td>
    </tr>
    <tr>
      <td>Oliver Twist</td>
      <td>70.6</td>
      <td>73.05</td>
      <td>100.0</td>
      <td>89.38</td>
      <td>81.82</td>
      <td>68.73</td>
      <td>70.42</td>
      <td>70.12</td>
      <td>80.51</td>
      <td>74.21</td>
    </tr>
    <tr>
      <td>Two Cities</td>
      <td>74.05</td>
      <td>76.91</td>
      <td>89.38</td>
      <td>100.0</td>
      <td>84.14</td>
      <td>71.19</td>
      <td>72.74</td>
      <td>71.7</td>
      <td>84.23</td>
      <td>72.99</td>
    </tr>
    <tr>
      <td>Odyssey</td>
      <td>72.73</td>
      <td>75.37</td>
      <td>81.82</td>
      <td>84.14</td>
      <td>100.0</td>
      <td>74.33</td>
      <td>75.74</td>
      <td>73.22</td>
      <td>81.61</td>
      <td>72.27</td>
    </tr>
    <tr>
      <td>Hamlet</td>
      <td>68.92</td>
      <td>69.38</td>
      <td>68.73</td>
      <td>71.19</td>
      <td>74.33</td>
      <td>100.0</td>
      <td>79.22</td>
      <td>66.05</td>
      <td>72.56</td>
      <td>60.56</td>
    </tr>
    <tr>
      <td>Macbeth</td>
      <td>67.88</td>
      <td>69.13</td>
      <td>70.42</td>
      <td>72.74</td>
      <td>75.74</td>
      <td>79.22</td>
      <td>100.0</td>
      <td>66.57</td>
      <td>74.09</td>
      <td>64.31</td>
    </tr>
    <tr>
      <td>Huck Finn</td>
      <td>67.19</td>
      <td>65.67</td>
      <td>70.12</td>
      <td>71.7</td>
      <td>73.22</td>
      <td>66.05</td>
      <td>66.57</td>
      <td>100.0</td>
      <td>80.9</td>
      <td>60.77</td>
    </tr>
    <tr>
      <td>Connecticut Yankee</td>
      <td>73.82</td>
      <td>74.14</td>
      <td>80.51</td>
      <td>84.23</td>
      <td>81.61</td>
      <td>72.56</td>
      <td>74.09</td>
      <td>80.9</td>
      <td>100.0</td>
      <td>67.97</td>
    </tr>
    <tr>
      <td>Aeneid</td>
      <td>55.44</td>
      <td>59.12</td>
      <td>74.21</td>
      <td>72.99</td>
      <td>72.27</td>
      <td>60.56</td>
      <td>64.31</td>
      <td>60.77</td>
      <td>67.97</td>
      <td>100.0</td>
    </tr>
  </tbody>
</table>
