<h1>Want more!?</h1>

Check out this fascinating story by Radiolab about the novelist Agatha Christie. They use document distance to find out a secret she never shared: <a href="http://www.radiolab.org/blogs/radiolab-blog/2010/may/05/vanishing-words/">http://www.radiolab.org/blogs/radiolab-blog/2010/may/05/vanishing-words/</a>
